*{margin:0%;
padding: 0%;
font-family:jos;
}
@font-face {
    font-family:"jost" ;
    src: url(Jost-Italic-VariableFont_wght.ttf);

}






.imagenes{ 
         height: 50vh;
         border-top-left-radius: 50%;
         border-bottom-left-radius: 50%;
         border-bottom-right-radius: 50%;
background-color: #ff7f99;
 }

 .conteinerdeimgen{
    height: 50vh;
    background-color: #ff7f99;
  }